.header {
    max-width: 700px;
    margin: 0px auto;
    padding: 8 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > h1 {
    font-weight: 700;
    font-size: 24px;
}

.header > .logout-button {
    width: fit-content;
    padding: 8px 16px;

    display: flex;
    align-items: center;
    gap: 8px;

    background: #be531c;
    color: white;

    cursor: pointer;
}

.header > .logout-button[disabled] {
    background: #d8a78f;
}
